In [1]:
import pandas as pd
import pyodbc

In [3]:
cnxn = pyodbc.connect(driver='{SQL Server}', server='DESKTOP-VSCM7DE', database='npcDB',               
               trusted_connection='yes')

cursor = cnxn.cursor()

In [4]:
query = '''
        SELECT *
            FROM Race
        '''

In [5]:
df_existing_tables = pd.read_sql(query, cnxn)

df_existing_tables

C:\Users\alexa\AppData\Local\Temp\ipykernel_8908\2366406088.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_existing_tables = pd.read_sql(query, cnxn)

   RaceID        Race
0       1       Dwarf
1       2         Elf
2       3    Halfling
3       4       Human
4       5     Aasimar
5       6  Dragonborn
6       7       Gnome
7       8     Goliath
8       9         Orc
9      10    Tiefling

In [2]:
race = input(print("What race is this character?"))
valid = False
race_list = ["Orc", "Human", "Elf", "Dwarf", "Gnome"]

while valid == False:
    if race in race_list:
        print(f"You are a {race}")
        valid = True
    else:
        print("Invalid race")
        race = input(print("What race is this character?"))

What race is this character?
Invalid race
What race is this character?
Invalid race
What race is this character?
Invalid race
What race is this character?
Invalid race
What race is this character?
You are a Dwarf